# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: learnreact_workflow

on:
  push:
    branches: [main, production]
  pull_request:
    branches: [main, production]

jobs:
  Testing:
    runs-on: self-hosted
    environment: Testing
    defaults:
        run:
          working-directory: counter-app/
    strategy:
      matrix:
        node-version: [12.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "./counter-app/package-lock.json"
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
  Production:
    if: github.ref == 'refs/heads/production' && needs.test-api.result == 'success' #only run if it's a commit to main AND previous success
#     if: github.event.pull_request.merged == true
    timeout-minutes: 2
    runs-on: self-hosted
    environment: Production
    needs: Testing
    steps:
    - uses: actions/checkout@v2
    - name: Set Git config
      run: |
          git config --local user.email "brianwahinyangure@gmail.com"
          git config --local user.name "BrianWahinya"
    - name: Merge main back to production
      run: |
          git fetch --unshallow
          git checkout production
          git pull
          git merge --no-ff main -m "Auto-merge main back to production"
          git push
